// Place all the styles related to the Photo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Responsive Index*/
.photo {
	display: inline-block;
	float: left;
	width: 16%;
	max-width: 280px;
	height: 280px;
	border: 1px solid black;

	@media (max-width: 1680px) {
		width: 20%;
	}

	@media (max-width: 1120px) {
		width: 25%;
	}

	@media (max-width: 840px) {
		width: 33%;
	}

	@media (max-width: 560px) {
		width: 50%;
	}

	@media (max-width: 280px) {
		width: 100%;
	}
}


/*Show*/
.lrg-photo {

	img {
	  display: block;
	  width: 100vw;
	  height: 100vh;
	  object-fit: cover;
	}
}

.photo-info {
	position: fixed;
	bottom: 30px;
	right: 30px;
}

.nav-buttons {
	width: 100%;
	display: block;
	position: absolute;
	bottom: 50%;
	padding: 30px;

	.next {
		display: inline-block;
		float: right;
	}

	.previous {
		display: inline-block;
		float: left;
	}
}
