// Place all the styles related to the Photo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	box-sizing: border-box;
}

.photo {
	display: inline-block;
	float: left;
	width: 25%;
	height: 200px;
	background-color: tomato;
	border: 1px solid black;
}
